
<div class="container mt-5" align="center">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Event Details</h5>
        <p class="card-text"><strong>event id</strong>  {{event.id}}</p>
        <p class="card-text"><strong>eventName</strong> {{event.eventname}}</p>
        <p class="card-text"><strong>eventDetails</strong> {{event.details}}</p>
        <p class="card-text"><strong>startdate</strong> {{event.startdate}}</p>
        <p class="card-text"><strong>duration</strong> {{event.duration}}</p>
        <p class="card-text"><strong>status</strong> {{event.status}}</p>
        <p class="card-text"><strong>location</strong> {{event.location}}</p>
      </div>
    </div>
  </div>