
<table class="table table-striped" >
    <thead>
    <tr>
    <th scope="col">eventId</th>
    <th scope="col">eventName</th>
    <th  scope="col">eventDetails</th>
    <th scope="col">startdate</th>
    <th scope="col">duration</th>
    <th scope="col">status</th>
    <th scope="col">location</th>
    </tr>
    </thead>
    <tr>
        <td>{{event.id}}</td>
        <td>{{event.eventname}}</td>
        <td>{{event.details}}</td>
        <td>{{event.startdate}}</td>
        <td>{{event.duration}}</td>
        <td>{{event.status}}</td>
        <td>{{event.location}}</td>
    </tr>
</table>